/*#region HEADER*/
header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #896E4E;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    color: #F2F0CF;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
}

#headerLogo {
    width: 10%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .main-nav {
      display: none;
      position: absolute;
      top: 5em;
      left: 0;
      width: 100%;
      flex-direction: column;
      background-color: #896E4E;
      text-align: left;
    }

    .main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }
  
    .main-nav a {
      display: block;
      padding: 10px;
      color: #F2F0CF;
      text-decoration: none;
    }

    .main-nav.open {
        display: block;
    }

    #menu-icon {
      display: block;
      margin-right: 50px;
    }
  
    #menu-icon span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #F2F0CF;
      margin: 6px 0;
      transition: 0.4s;
    }
  
    #menu-icon.open span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    #menu-icon.open span:nth-child(2) {
      opacity: 0;
    }
  
    #menu-icon.open span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    #headerLogo {
        margin: 0 auto;
        width: 30%;
    }
  }
/*#endregion*/

/*#region FOOTER*/
footer {
    display: flex;
    background-color: #012622;
    color: #F2F0CF;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
}

#footerLogo {
    margin: 0 auto;
    width: 50%;
}

.address {
    margin-bottom: 10px;
}

.social-media-links img {
    margin-right: 10px;
    width: 30px;
}

.mappa-del-sito {
    text-align: right;
}

.mappa-del-sito ul {
    padding: 0;
    list-style: none;
}

.mappa-del-sito li {
    margin-bottom: 5px;
}

.mappa-del-sito a {
    color: #F2F0CF;
    font-weight: bold;
    text-decoration: none;
}

.mappa-del-sito a:hover {
    text-decoration: underline;
}

#footerCopyright {
    text-align: center;
}
/*#endregion*/

/*#region BODY*/
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 4.5em;
}

h2 {
    margin: 0;
    font-size: 3em;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

.left-rectangle,
.top-rectangle {
    position: absolute;
    background-color: #5D1E09;
    width: 15px;
    height: 100%;
}

.left-rectangle {
    left: 0;
    top: 0;
}

.top-rectangle {
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    .left-rectangle,
    .top-rectangle {
        position: absolute;
        background-color: #5D1E09;
        width: 7.5px;
        height: 100%;
    }

    .left-rectangle {
        left: 0;
        top: 0;
    }

    .top-rectangle {
        top: 0;
        left: 0;
        width: 100%;
        height: 7.5px;
    }
}
/*#endregion*/

/*#region STANDARD-BUTTON*/
.standard-button {
    display: flex;
    background-color: #F2F0CF;
    color: #012622;
    padding: 1em 3.5em;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.standard-button:hover {
    background-color: #D1C68A;
}

@media screen and (max-width: 768px) {
    .standard-button {
        padding: 0.8em 2.5em;
        font-size: 14px;
    }
}
/*#endregion*/

/*#region MAIN-SECTION*/
#mainSection {
    display: flex;
    text-align: center;
    background: no-repeat center url("resources/images/homeBackground.png");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30em;
}

.rectangle {
    background-color: #896E4E;
    color: #F2F0CF;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #mainSection {
        height: auto;
    }

    .rectangle {
        width: 100%;
    }
}
/*#endregion*/

/*#region CONSIGLI-SECTION */
#consigliSection {
    text-align: center;
    background-color: #EFE7C8;
    padding: 20px;
    position: relative;
}

#consigliSection h2.align-right {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #012622;
}

#consigliSection .side-by-side {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#consigliSection .consiglio-item {
    width: 48%;
    align-items: center;
    text-align: center;
}

#consigliSection .consiglio-item h3 {
    color: #012622;
}

#consigliSection .image-button-panino {
    background-image: url('resources/images/vinileSemiAperto.png');
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 350px;
    height: 247px;
}

#consigliSection .image-button-panino h4 {
    color: #E09200;
    position: relative;
    margin: 0;
    left: -50px;
    top: 100px;
    padding: 10px;
    font-size: initial;
}

.consiglio-item-description {
    color: #012622;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    
}

@media screen and (max-width: 768px) {
    #consigliSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    #consigliSection .consiglio-item {
        width: 100%;
    }

    #consigliSection .image-button-panino h4 {
        color: #E09200;
        position: relative;
        margin: 0;
        left: -50px;
        top: 100px;
        padding: 10px;
        font-size: initial;
    }

    .consiglio-item-description {
        margin-right: 5%;
        margin-left: 5%; 
    }
}
/*#endregion */

/*#region DOVESIAMO-SECTION */
#doveSiamoSection {
    background-color: #896E4E;
    padding: 20px;
    position: relative;
    text-align: center;
    color: #EFE7C8;
}

#doveSiamoSection h2.align-left {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

#doveSiamoSection .side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.map {
    margin-right: 20px;
    width: 100%;
    border: none;
}

.location-info {
    text-align: center;
    align-items: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    #doveSiamoSection {
        padding: 10px;
    }

    #doveSiamoSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    #doveSiamoSection .location-info {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*#endregion */

/*#region SCELTA-SECTION */
#sceltaSection {
    background-color: #EFE7C8;
    padding: 20px;
    position: relative;
}

#sceltaSection h2.align-right {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #012622;
}

#sceltaSection .side-by-side {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

#sceltaSection ul {
    list-style: none;
    padding: 0;
}

#sceltaSection .buttons-container {
    width: 600.2px;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
}

#sceltaSection .category-button {
    background-image: url(resources/images/chitarra.png);
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 200%;
    max-width: 2000px;
    height: auto;
    text-align: right;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: relative;
    right: 100px;
}

#sceltaSection .category-button.clicked {
    transform: translateX(100px);
}

#sceltaSection .category-button:hover:not(.clicked) {
    transform: translateX(20px);
}

#sceltaSection .category-button h4 {
    display: inline-block;
    color: #EFE7C8;
    background-color: #896E4E;
    position: relative;
    margin-bottom: 1.8em;
    font-size: 3em;
    padding-left: 20px;
    padding-right: 20px;
    right: 35%;
}

.image-and-heading {
    width: 600.2px;
    align-items: center;
    text-align: center;
    display: flex;
}

.image-and-heading img {
    display: block;
    width: 100%;
}

.image-and-heading h3 {
    display: block;
    position: absolute;
    right: 259px;
    bottom: 38px;
    color: #E09200;
    font-size: xx-large;
}

.buttons-container {
    width: 600.2px;
    align-items: flex-start;
    display: flex;
}


.mobile-buttons {
    display: none;
}

@media screen and (max-width: 1300px) {
    .mobile-buttons {
        display: flex;
        align-self: center;
    }

    .mobile-category-button {
        display: flex;
        background-color: #896E4E;
        color: #EFE7C8;
        padding: 0.1em 1em;
        margin: 5px;
        font-size: 14px;
        border: none;
        border-radius: 32px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

    .mobile-category-button:hover {
        background-color: #D1C68A;
    }

    #sceltaSection .buttons-container {
        display: none;
    }

    #sceltaSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .image-and-heading {
        align-self: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .image-and-heading img {
        width: 40%;
    }

    .image-and-heading h3 {
        display: block;
        position: relative;
        right: 0px;
        bottom: -208px;
        color: #E09200;
        font-size: medium;
    }
}
/*#endregion */