
<div id="popup" class="popup">
    <div class="popup-content">
        <img id="popup-image1" class="popup-image1" src="resources/images/PngItem_6858950.png" alt="Popup Image 1">
        <div class="popup-details">
            <button class="popup-close" aria-label="chiudi il popUp" onclick="closePopup()" >&times;</button>
            <h2 id="popup-name" class="popup-name" aria-label="Nome prodotto"></h2>
            <p id="popup-description" class="popup-description"></p>
            <h2 class="popup-ingredients-label" class="popup-ingredients-label" aria-label="Lista ingredienti">INGREDIENTI:</h2>
            <p id="popup-ingredients" class="popup-ingredients"></p>
            <h2 id="popup-price" class="popup-price" aria-label="Prezzo del prodotto"></h2>    
        </div>
        <img id="popup-image2" class="popup-image2" src="" alt="Popup Image2">
    </div>
</div>
