body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #896E4E;
    width: 100%;
}

.content {
    display: flex;
    width: 100%;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: #F2F0CF;
}

a{
    text-decoration: none;
    color: #012622;
    font-weight: bold;
}

a:hover{
    color: #5D1E09;
}

#all-comments-link {
    margin-top: 10px;
    display: block;
}

.link-to-page{
    color: #FFF;
}