/*#region HEADER*/
header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #896E4E;
}

.main-nav {
    display: flex;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    color: #F2F0CF;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    color: #EFE7C8;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #896E4E;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #F2F0CF;
    color: #012622;
}

#headerLogo {
    width: 10%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .main-nav {
        display: none;
        position: absolute;
        top: 10vw;
        left: 0;
        background-color: #F2F0CF;
        text-align: left;
    }

    .main-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        flex-direction: column;
    }

    .main-nav a {
        display: block;
        padding: 10px;
        color: #012622;
        text-decoration: none;
    }

    .main-nav.open {
        display: block;
    }

    #menu-icon {
        display: block;
        margin-right: 50px;
        cursor: pointer;
    }

    #menu-icon span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #F2F0CF;
        margin: 6px 0;
        transition: 0.4s;
    }

    #menu-icon.open span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    #menu-icon.open span:nth-child(2) {
        opacity: 0;
    }

    #menu-icon.open span:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    #headerLogo {
        margin: 0 auto;
        width: 30%;
    }
  }
/*#endregion*/

/*#region FOOTER*/
footer {
    display: column;
    background-color: #012622;
    color: #F2F0CF;
    padding: 10px 20px;
}

.top-part {
    display: flex;
    justify-content: space-between;
}

.logo-address-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

#footerLogo {
    width: 30%;
}

.address {
    text-align: left;
    margin-top: 10px; 
}

.social-media-links {
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px; 
}

.social-media-links img {
    margin-right: 10px; 
    width: 30px;
}

.mappa-del-sito {
    text-align: right;
}

.mappa-del-sito h3 {
    margin-bottom: 5px; 
}

.mappa-del-sito ul {
    padding: 0;
    list-style: none;
}

.mappa-del-sito li {
    margin-bottom: 5px;
}

.mappa-del-sito a {
    color: #F2F0CF;
    font-weight: bold;
    text-decoration: none;
}

.mappa-del-sito a:hover {
    text-decoration: underline;
}

#footerCopyright {
    text-align: center;
}

@media (max-width: 768px) {

    footer {
        flex-direction: column;
    }

    .top-part {
        display: flex;
        flex-direction: column;
    }

    .logo-address-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .address {
        text-align: center; 
        margin-top: 10px; 
    }

    #footerLogo {
        width: 30%;
    }

    .mappa-del-sito {
        text-align: center;
    }
}



/*#endregion*/

/*#region BODY*/
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 4.5em;
}

h2 {
    margin: 0;
    font-size: 3em;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

.left-rectangle,
.top-rectangle {
    position: absolute;
    background-color: #5D1E09;
    width: 15px;
    height: 100%;
}

.left-rectangle {
    left: 0;
    top: 0;
}

.top-rectangle {
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
}

h2.align-right {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #012622;
}

h2.align-left {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.2em;
    }

    .left-rectangle,
    .top-rectangle {
        position: absolute;
        background-color: #5D1E09;
        width: 7.5px;
        height: 100%;
    }

    .left-rectangle {
        left: 0;
        top: 0;
    }

    .top-rectangle {
        top: 0;
        left: 0;
        width: 100%;
        height: 7.5px;
    }

    h2.align-right {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #012622;
    }

    h2.align-left {
        text-align: center;
        margin-top: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
}
/*#endregion*/

/*#region STANDARD-BUTTON*/
.standard-button {
    display: flex;
    background-color: #F2F0CF;
    color: #012622;
    padding: 1em 3.5em;
    border: none;
    border-radius: 32px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.standard-button:hover {
    background-color: #D1C68A;
}

@media screen and (max-width: 768px) {
    .standard-button {
        padding: 0.8em 2.5em;
        font-size: 14px;
    }
}
/*#endregion*/

/*#region MENU-ITEM*/
.menu-item-container {
    position: relative;
    display: inline-block;
}

.menu-item-images {
    display:flex;
    position: relative;
    left: 25px;
}

.menu-item-images .left-image {
    width: 200px; 
    height: 200px; 
    display: inline-block;
    margin: 0;
    z-index: 1;
}

.menu-item-images .right-image {
    width: 100px; 
    height: auto; 
    display: inline-block;
    position: relative;
    margin: 0;
    right: 60px;
}

.menu-item-button {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: url(../resources/images/porteo.png) no-repeat;
    background-size: contain;
    z-index: 2;
}

.menu-item-button h4 {
    margin: 0;
    position: relative;
    color: white;
    right: 50px;
    font-size: 16px;
    color: orange;
}
/*#endregion */

/* MENU */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #5D1E09;
}

header {
    position: relative;
}

#mainSection {
    display: flex;
    text-align: center;
    background: no-repeat center url("../resources/images/ToniMenu.jpg");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30em;
}

#mainSection .rectangle {
    background-color: #896E4E;
    color: #F2F0CF;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #mainSection {
        height: auto;
    }
}

#prodottiSection {
    background-color: #896E4E;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#prodottiSection h2 {
    color: #EFE7C8;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}


#prodottiSection ul {
    list-style: none;
    display: flex;
    margin: 0; 
    flex-wrap: wrap; 
}

#prodottiSection button {
    color: #F2F0CF;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #896E4E;
    transition: background-color 0.3s ease;
}


#prodottiSection button:hover {
    background-color: #F2F0CF;
    color: #012622;
}


#tramezzini,
#panini,
#burgers {
    padding: 20px;
    margin: 10px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Titolo della sezione */
#tramezzini h2,
#panini h2,
#burgers h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* Testo della sezione */
#tramezzini p,
#panini p,
#burgers p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em; 
}

/* Colori specifici per ciascuna sezione */
#tramezzini {
    background-color: #F2F0CF;
    color: #012622;
}

#panini {
    background-color: #896E4E;
    color: #F2F0CF;
}

#burgers {
    background-color: #F2F0CF;
    color: #012622;
}

.prodotto-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 0 0 calc(33% - 20px);
    margin-right: 10px;
    margin-bottom: 30px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: #012622;
    color: #F2F0CF;
    border: 1px solid #012622;
    border-radius: 50%; /* Imposta il bordo del pulsante per renderlo rotondo */
    padding: 10px;
    width: 18px; /* Imposta la larghezza del pulsante */
    height: 18px; /* Imposta l'altezza del pulsante */
    font-size: 0.8em; 
    text-align: center;
    z-index: 2;
    cursor: pointer;
    display: none;
}




@media screen and (max-width: 1000px) {
    .prodotto-item {
      flex: 0 0 calc(50% - 20px); 
      
    }
  }


@media only screen and (max-width: 600px) {

    h1 {
        font-size: 2.4em;
    }

    #prodottiSection {
        flex-direction: column; 
        text-align: center; 
    }

    #prodottiSection ul {
        width: 100%; 
        padding: 0; 
    }



    #prodottiSection button {
        margin: 10px 0; 
        width: 100%; 
        display: inline;
    }

  
    
    .prodotto-item {
        margin: 10px;
        flex: 0 0 calc(100% - 100px);
        margin-right: 10px; 
    }

    #scrollToTopBtn {
        width: 10px; 
        height: 10px; 
        font-size: 0.6em;
    }
}