/*#region HEADER*/
header {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #896E4E;
    justify-content: space-between;
    height: 60px;
}

.main-nav ul {
    display: flex;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: #F9F9F0;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #896E4E;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.main-nav a:hover {
    background-color: #F2F0CF;
    color: #012622;
}

.hamburger-menu {
    display: none;
}

#logoLink {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-right: 130px;
}

#headerLogo {
  width: 200px;
}

.topnav {
  display: none;
}

@media screen and (max-width: 850px) {
    header {
        height: 60px;
    }

    .main-nav {
        display: none;
    }

    #logoLink {
      width: fit-content;
      height: fit-content;
      margin-right: -51px;
    }
    
    #headerLogo {
      width: 100px;
    }
    
    .topnav {
      position: relative;
      display: flex;
      }
      
      .topnav #myLinks {
      display: none;
      align-items: center;
      }
      
      .topnav a {
        color: #F9F9F0;
        font-weight: normal;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 10px;
        background-color: #896E4E;
        border-radius: 20px;
        transition: background-color 0.3s ease;
        width: max-content;
      }
      
      .topnav #myLinks a:hover {
        background-color: #F2F0CF;
        color: #012622;
      }
      
      .topnav a.icon {
      display: block;
      font-size: 30px;
      margin-left: -10px;
      }
}
/*#endregion*/