
.menu-item-container {
    position: relative;
    display: inline-block;
}

.menu-item-images {
    display:flex;
    position: relative;
    left: 25px;
}

.menu-item-images .left-image {
    width: 200px; 
    height: 200px; 
    display: inline-block;
    margin: 0;
    z-index: 1;
}

.menu-item-images .right-image {
    width: 100px; 
    height: auto; 
    display: inline-block;
    position: relative;
    margin: 0;
    right: 60px;
}

.menu-item-button {
    position: absolute;
    top: 0;
    left: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    /* background: url(../resources/images/porteo.webp) no-repeat; */
    /* background-size: contain; */
    z-index: 2;
}

.menu-item-button h4 {
    margin: 0;
    position: relative;
    right: 50px;
    font-size: 16px;
    color: orange;
    background-color: black;
}
/*#endregion *
/* MENU */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #5D1E09;
}

header {
    position: relative;
}

#mainSection {
    display: flex;
    text-align: center;
    background: no-repeat center url("../resources/images/ToniMenu.webp");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30em;
}

#mainSection .rectangle {
    background-color: #896E4E;
    color: #F2F0CF;
    padding: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #mainSection {
        height: 10em;
    }
}

#prodottiSection {
    background-color: #896E4E;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

#prodottiSection h2 {
    color: #F2F0CF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
}


#prodottiSection ul {
    list-style: none;
    display: flex;
    margin: 0; 
    flex-wrap: wrap; 
}

#prodottiSection button {
    color: #F9F9F0;
    font-weight: normal;
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #896E4E;
    transition: background-color 0.3s ease;
}


#prodottiSection button:hover {
    background-color: #F2F0CF;
    color: #012622;
}


#tramezzini,
#panini,
#burgers {
    padding: 20px;
    margin: 10px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Titolo della sezione */
#tramezzini h2,
#panini h2,
#burgers h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

/* Testo della sezione */
#tramezzini p,
#panini p,
#burgers p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em; 
}

/* Colori specifici per ciascuna sezione */
#tramezzini {
    background-color: #F2F0CF;
    color: #012622;
}

#panini {
    background-color: #896E4E;
    color: #F2F0CF;
}

#burgers {
    background-color: #F2F0CF;
    color: #012622;
}

.prodotto-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    flex: 0 0 calc(33% - 20px);
    margin-right: 10px;
    margin-bottom: 30px;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 12px;
    right: 12px;
    background-color: #012622;
    color: #F2F0CF;
    border: 1px solid #012622;
    border-radius: 50%; /* Imposta il bordo del pulsante per renderlo rotondo */
    padding: 10px;
    width: 18px; /* Imposta la larghezza del pulsante */
    height: 18px; /* Imposta l'altezza del pulsante */
    font-size: 0.8em; 
    text-align: center;
    z-index: 2;
    cursor: pointer;
    display: none;
}




@media screen and (max-width: 1000px) {
    .prodotto-item {
      flex: 0 0 calc(50% - 20px); 
      
    }
  }


@media only screen and (max-width: 600px) {

    h1 {
        font-size: 2.4em;
    }

    #prodottiSection {
        flex-direction: column; 
        text-align: center; 
    }

    #prodottiSection ul {
        width: 100%; 
        padding: 0; 
    }



    #prodottiSection button {
        margin: 10px 0; 
        width: 100%; 
        display: inline;
    }

  
    
    .prodotto-item {
        margin: 10px;
        flex: 0 0 calc(100% - 100px);
        margin-right: 10px; 
    }

    #scrollToTopBtn {
        width: 10px; 
        height: 10px; 
        font-size: 0.6em;
    }
}