/*#region MAIN-SECTION*/
#mainSection {
    display: flex;
    text-align: center;
    background: no-repeat center url("../resources/images/homeBackground.webp");
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 30em;
}

#mainSection .rectangle {
    background-color: #896E4E;
    color: #F2F0CF;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #mainSection {
        height: auto;
    }
}
/*#endregion*/

/*#region CONSIGLI-SECTION */
#consigliSection {
    text-align: center;
    background-color: #F2F0CF;
    padding: 20px;
    position: relative;
}

#consigliSection .side-by-side {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#consigliSection .consiglio-item {
    width: 48%;
    align-items: center;
    text-align: center;
}

#consigliSection .consiglio-item h4 {
    color: #012622;
    margin: 5px;
    font-size: 1.5em;
}

#consigliSection .consiglio-item-description {
    color: #012622;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    
}

@media screen and (max-width: 768px) {
    #consigliSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    #consigliSection .consiglio-item {
        width: 100%;
    }

    .consiglio-item-description {
        margin-right: 5%;
        margin-left: 5%; 
    }

    #consigliSection .consiglio-item h4 {
        font-size: 1.2em;
    }
}
/*#endregion */

/*#region DOVESIAMO-SECTION */
#doveSiamoSection {
    background-color: #896E4E;
    padding: 20px;
    position: relative;
    text-align: center;
    color: #F2F0CF;
}

#doveSiamoSection .side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#doveSiamoSection .map {
    margin-right: 20px;
    width: 100%;
    border: none;
}

#doveSiamoSection .location-info {
    text-align: center;
    align-items: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

#doveSiamoSection .location-info p {
    font-size: x-large;
}

@media screen and (max-width: 768px) {
    #doveSiamoSection {
        padding: 10px;
    }

    #doveSiamoSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0;
    }

    #doveSiamoSection .location-info {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*#endregion */

/*#region SCELTA-SECTION */
#sceltaSection {
    background-color: #F2F0CF;
    padding: 20px;
    position: relative;
}

#sceltaSection .side-by-side {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

#sceltaSection ul {
    list-style: none;
    padding: 0;
}

#sceltaSection .buttons-container {
    width: 100%;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
}

#sceltaSection .category-button {
    background-image: url(../resources/images/chitarra.webp);
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 200%;
    max-width: 2000px;
    height: auto;
    text-align: right;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: relative;
    right: 100px;
}

#sceltaSection .category-button.clicked {
    transform: translateX(100px);
}

#sceltaSection .category-button:hover:not(.clicked) {
    transform: translateX(20px);
}

#sceltaSection .category-button span {
    display: inline-block;
    color: #F2F0CF;
    background-color: #896E4E;
    position: relative;
    top:10px;
    margin-top:0.8em;
    margin-bottom: 1.8em;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    right: 36%;
}

#sceltaSection .buttons-container {
    width: 650.2px;
    align-items: flex-start;
    display: flex;
}

#sceltaSection .mobile-buttons {
    display: none;
}

.image-button {
    display:flex;
    position: relative;
}

.background-image {
    width: 450px;
    height: 450px;
}

.image-button a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
    color: orange;
}

#image1 a {
    background: url(../resources/images/hamburger.webp) no-repeat;
    background-size: contain;
}

#image2 a {
    background: url(../resources/images/panino.webp) no-repeat;
    background-size: contain;
}

#image3 a {
    background: url(../resources/images/tramezzino.webp) no-repeat;
    background-size: contain;
}

.image-button a h5 {
    margin: 5px;
    position: relative;
    font-size: 32px;
    color: orange;
    background-color: rgba(0,0,0,0.5);
}

#image1 {
    display: block;
}

#image2 {
    display: none;
}

#image3 {
    display: none;
}

@media screen and (min-width: 1200px) {
    #sceltaSection h3.align-right {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #012622;
    }
}
@media screen and (max-width: 1100px) {
    #sceltaSection h3.align-right {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #012622;
    }

    #sceltaSection h3 {
        font-size: 2em;
    }

    #sceltaSection .mobile-buttons {
        display: flex;
        align-self: center;
    }

    #sceltaSection .mobile-category-button {
        display: flex;
        background-color: #896E4E;
        color: #F9F9F0;
        padding: 1em 1.5em;
        margin: 5px;
        font-size: 14px;
        border: none;
        border-radius: 32px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }

    #sceltaSection .mobile-category-button:hover {
        background-color: #D1C68A;
    }

    #sceltaSection .buttons-container {
        display: none;
    }

    #sceltaSection .side-by-side {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .background-image {
        width: 200px;
        height: 200px;
    }

    .image-button a h5 {
        margin: 5px;
        position: relative;
        font-size: 16px;
        color: orange;
        background-color: black;
    }
}
/*#endregion */

/*#region RECENSIONI-SECTION*/
#recensioniSection {
    background-color: #896E4E;
    padding: 20px;
    position: relative;
    color: #F2F0CF;
}

#recensioniSection h2.align-left {
    text-align: left;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
}

#toRecensioniDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
/*#endregion*/